<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <parameter name="Url" value="https://www.flipkart.com/"></parameter>
  <test thread-count="5" name="flipCount" parallel="classes">
 <parameter name="Browser" value="chrome"></parameter> 
   <classes>
      <class name="com.qa.testscript.flipCount"/>
     </classes>
  </test> 
 </suite> 